*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #100f0f;
    font-family:"poppins", sans-serif, helvetica, ;
}


body{
    min-height: 100vh;
    line-height: 1.5;
    font-size: 16px;
    border: 0px solid #0b0808;
    padding:0;word-spacing:normal;background-color:#ffffff; width: 100%; 
    overflow-x: hidden;
}

.mobile-nav-toggle{
    display:none;
}



/*--Media querie MOBILE NAVIGATION Begins @max-width 626px*/
@media  (max-width: 35em) {
    .primary-navigation {
        --gap:1em;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 1em;

        transform: translateX(100%);

        background: hsl(0, 0%, 100% / 0.1);
        backdrop-filter: blur(1rem);
        }

        .mobile-nav-toggle{
            display: block;
        }
    

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }


    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: transparent;
        background-image: url("hamburger-icon-open.png");
        background-repeat:no-repeat;
        width:1rem;
        border: 0;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        border: opx solid #0b0808;
    }

    .mobile-nav-toggle[aria-expanded = "true"] {
        background-image: url("hamburger-icon-close-tiny.png");
        background-repeat:no-repeat;
    }

    button img{
        max-width: 100%;
    }

    nav ul li:first-child{
        margin-top: 80px;
        border: 0px solid #0b0808;
    }

    nav ul li{
        padding-left: 20px;
    }

    .active,nav ul li:hover {
        background-color: #043e4b;
        border-radius: 25px;
        color: #ffffff !important;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }

    .font-hero-resize-tablet{
        font-size: 20px !important;
        padding-top: 50px;
    }

    .td-2column-resize-tablet{
        display: block;
        width: 50%;
    }

    .td-1column-resize-tablet{
        display: block;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }

    nav{
        padding: 10px 25px;
    }

    nav ul li a{
        color: #000000;
        box-shadow: #0b0808;
    }

    .p-margins{
        margin-top: -200px !important;
       
    }

    
}
/*--Media querie MOBILE NAVIGATION Ends @max-width 626px*/




.sr-only{
position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip:rect(0,0,0,0);
border: 0;
}




.primary-header{
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}



#brand{
    list-style-type: none;
    text-decoration: none;
    font-weight:bold;
    font-size: 15px;
    color: #0e3c23 !important;
    padding: 0;
    margin: 5px;
    font-size: 15px;
}


.primary-navigation{
    list-style-type: none;
    padding: 0;
    margin:0;

    /*background: hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(1rem);*/
}



.flex{
    display: flex;
    /*gap: var(--gap, 1rem);*/
}




nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    transition: all 0.3s;
    border-radius: 50%;
}


.active,nav ul li a:hover {
    background-color: #043e4b;
    border-radius: 25px;
    color: #ffffff !important;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


#navig a.current{
    color: #a20606;
    /*background-color: #043e4b;*/
    border-radius: 25px;
    /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
}



.transparent-bg{
    background: transparent;
}


.button-hero{
    border: none;
    background-color: #a20606;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 40px;
    border-radius:20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


.button-view-work{
    border: 1px solid #0b0808;
    background-color:transparent;
    font-size: 15px;
    font-weight: bold;
    color: #a01414;
    padding: 10px 40px;
    border-radius:20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}


.button-hero a{
    text-decoration: none;
    font-size:16px ;
    color: #ffffff;
    font-weight: bold;
}




h1{
     padding-top:0px; font-family:Arial,sans-serif;font-size:26px;line-height:32px;font-weight:bold; text-align:left;
}


table td{
    border: 0px solid #0b0808;
}

div{
    border: 0px solid #0b0808;
}

P{
    padding-top:0px; font-family:Arial,sans-serif;font-size:16px; font-weight:normal; line-height:20px; color: #151010;
}


.paddings{
    padding-left: 50px;
}




img{
    display:block; 
    max-width:100%;
    height:auto;
}



